
  <div class="view overlay hm-white-slight mb-2 waves-light" mdbRippleRadius>
    <img class="img-fluid mx-auto d-block" alt=""
           [src]="pet.displayurl"
           aria-controls="active"
           style="height:250px;width:250px;">
  </div>
    <h1 class="mb-3">{{ pet.petName }}</h1>
    <h4>{{ pet.petType }} - {{ pet.petBreed }}</h4>
    <p>{{ pet.petDescription }}</p>

  <!-- Adding a Favorite Heart -- It will show a full heart if you favorite it -->
    <i
      (click)="favorite(pet.petName)"
      class="fa {{favorited ? 'fa-heart' : 'fa-heart-o'}} fa-3x"
      style="color:red"
      aria-hidden="true"
    ></i>
