<!--The content below is only a placeholder and can be replaced.-->
<navbar></navbar>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>Total Pets Favorited: {{ totalFavorites }}, Last Pet Favorited: {{ mostRecentFavorite }}</p>
</div>
<div class="container">
  <div class="row">
    <app-pet
      *ngFor="let petObject of petList"
      class="col-lg-4 col-md-12 mb-r text-center"
      [pet]="petObject"
      [baseUrl]="imageUrl"
      (favoriteEvent)="handleFavoreted($event)">
    </app-pet>
  </div>
</div>
